.projects {
  background-color: var(--color-accent);
  @media (min-width: 769px) {
    padding: 10rem 0;
  }
  @media (max-width: 768px) {
    padding: 6rem 0;
  }
}

.title {
  padding-bottom: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: var(--color-black);
  @media (min-width: 576px) {
    font: 700 4rem/5.2rem var(--second-font);
  }
  @media (max-width: 575px) {
    font: 700 3rem/4.2rem var(--second-font);
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.project {
  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}
