// Variables
$transition: .2s ease-in-out;
$translateY: .5rem;

// Main

.btn {
  display: inline-block;
  text-align: center;
  transition: all $transition;
}

// Type

.primary {
  background-color: currentColor;
  border: .2rem solid currentColor;
  @media (min-width: 769px) {
    &:hover, &:focus-visible {
      transform: translateY(-$translateY);
    }
  }
  @media (max-width: 768px) {
    &:focus-visible {
      border-color: var(--color-black);
      background-color: var(--color-black);
      .content {
        color: var(--color-white) !important;
      }
    }
  }
}

.ghost {
  position: relative;
  border: .2rem solid currentColor;
  @media (min-width: 769px) {
    &::before, &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      background-color: currentColor;
      transition: all $transition;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    .content {
      position: relative;
      z-index: 1;
    }
    &:hover, &:focus-visible {
      &::before, &::after {
        width: 55%;
      }
    }
  }
}

// Size

.big {
  width: 100%;
  @media (min-width: 769px) {
    padding: 35px;
  }
  @media (max-width: 768px) {
    padding: 20px;
  }
}

.small {
  padding: 16px 40px;
}

// Color

.purple {
  color: var(--color-purple);
  &:not(.ghost) {
    .content {
      color: var(--color-white);
    }
    @media (min-width: 769px) {
      &:hover, &:focus-visible {
        box-shadow: $translateY $translateY 0 var(--color-white);
      }
    }
  }
  &:not(.primary) {
    @media (min-width: 769px) {
      &:hover, &:focus-visible {
        .content {
          color: var(--color-white);
        }
      }
    }
  }
}

.black {
  color: var(--color-black);
  &:not(.ghost) {
    .content {
      color: var(--color-white);
    }
    @media (min-width: 769px) {
      &:hover, &:focus-visible {
        box-shadow: $translateY $translateY 0 var(--color-white);
      }
    }
  }
  &:not(.primary) {
    @media (min-width: 769px) {
      &:hover, &:focus-visible {
        .content {
          color: var(--color-white);
        }
      }
    }
    @media (max-width: 768px) {
      &:focus-visible {
        background-color: var(--color-black);
        .content {
          color: var(--color-white);
        }
      }
    }
  }
}

.white {
  color: var(--color-white);
  &:not(.ghost) {
    .content {
      color: var(--color-black);
    }
    @media (min-width: 769px) {
      &:hover, &:focus-visible {
        box-shadow: $translateY $translateY 0 var(--color-black);
      }
    }
  }
  &:not(.primary) {
    @media (min-width: 769px) {
    &:hover, &:focus-visible {
        .content {
          color: var(--color-black);
        }
      }
    }
    @media (max-width: 768px) {
      &:focus-visible {
        background-color: var(--color-white);
        .content {
          color: var(--color-black);
        }
      }
    }
  }
}

// Content

.content {
  font: 700 2rem/2.6rem var(--second-font);
  text-transform: uppercase;
  transition: all $transition;
}
