.logo {
  padding: .5rem;
  margin-left: -0.5rem;
  color: var(--color-blue);
  &:focus-visible {
    background-color: var(--color-black);
    color: var(--color-white);
  }
  @media (min-width: 1021px) {
    transition: all .2s;
  }
}
