:root {
  --main-font: "Inter", sans-serif;
  --second-font: "Druk-Wide-Bold", sans-serif;

  --color-accent: #A9FF53;
  --color-black: #272727;
  --color-white: #FFFFFF;
  --color-black-dark: #111111;
  --color-gray: #4B4B4B;
  --color-blue: #3855F0;
  --color-purple: #A30AF2;
  --color-green: #A7FF62;
}
